.card {
  padding: 11px;
  background-color: var(--card-background-default);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
  max-height: 300px;
  box-sizing: border-box;
  transition: background-color 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  background-color: var(--card-hover-background-default);
  cursor: pointer;
}

.days {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: var(--components-background-default);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
}

.dayName {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color-default);
  margin-bottom: 7px;
}

.dayInfo {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-text-color);
  margin-bottom: 12px;
}

.tempDay {
  color: var(--text-color-default);
  font-size: 18px;
  font-weight: 500;
  margin-top: 13px;
}

.card .info {
  font-size: 13px;
  font-weight: 400;
  color: var(--light-text-color);
  margin-top: 6px;
}

.tempNight {
  font-size: 13px;
  font-weight: 400;
  color: var(--light-text-color);
}

.tabs {
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 860px) {
  .tabs {
   flex-direction: column;
   gap: 10px;
  }
}

.tabsWrapper {
  display: flex;
  gap: 15px;
}

.tab {
  font-size: 18px;
  font-weight: 400;
  padding: 7px 20px;
  border-radius: 5px;
  color: var(--text-color-default);
  background-color: var(--components-background-default);
  transition: background-color 0.3s ease; 
  &.active {
    background-color: var(--primary-color);
    color: var(--text-color-dark);
  }
}

.tab:hover {
  background-color: var(--card-hover-background-default);
  cursor: pointer;
}

.active {
  color: var(--text-color-white);
  background-color: var(--primary-color);
}

.tabButton {
  padding: 7px 20px;
  border: none;
  background-color: var(--components-background-default);
  border-radius: 5px;
  color: var(--text-color-default);
  font-size: 18px;
  font-weight: 400;
}

.tab .tabButton {
  box-shadow: var(--box-shadow);
}

.tabButton:hover {
  cursor: pointer;
  background-color: var(--card-hover-background-default);
}

.tab:focus-within {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  border: none;
  outline: none;
}

.icon {
  svg {
    width: 50px;
    height: 50px;
  }
}