.popup {
  padding: 42px 32px;
  max-width: 750px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background-color: var(--components-background-default);
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 50%;
  left: calc(50% - 325px);
  z-index: 20;
  border-radius: 10px;
  text-wrap: nowrap;
}

.dayTemp {
  font-size: 60px;
  font-weight: 700;
  color: var(--primary-color);
}

.day_of_the_week {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color-default);
}

.popupInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blur {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}

.thisDayDescription {
  color: var(--light-text-color);
  font-size: 15px;
}

.dayInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  svg {
    width: 80px;
    height: 80px;
  }
}