@import "normalize.css";

:root {
  --primary-color: #4793FF;
  --text-color: #000000;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.container {
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}