@import "normalize.css";

$body-background-dark: rgba(0, 0, 0, 1);
$body-background-light: rgba(255, 255, 255, 1);
$text-color-dark:rgba(255, 255, 255, 1);
$text-color-light:rgba(0, 0, 0, 1);
$card-background-light: rgba(71, 147, 255, 0.2);
$card-background-dark: rgba(46, 48, 53, 1);
$components-background-light: #FFF;
$components-background-dark: #4f4f4f;

:root {
  --primary-color: rgba(71, 147, 255, 1);
  --light-text-color: rgba(147, 156, 176, 1);
  --box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});
  --text-color-dark: #{$text-color-dark};
  --text-color-light: #{$text-color-light};
  --text-color-default: var(#{--text-color-light});
  --card-background-light: #{$card-background-light};
  --card-background-dark: #{$card-background-dark};
  --card-background-default: var(#{--card-background-light});
  --components-background-light: #{$components-background-light};
  --components-background-dark: #{$components-background-dark};
  --components-background-default: var(--components-background-light)
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
  background-color: var(#{--body-background-default});
}

p {
  margin: 0;
}

.container {
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}